@import "../../styles/variables.scss";

.profileContainer {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);

    h1 {
        color: #313f47;
        font-size: 22px;
        text-align: center;
        letter-spacing: 5px;
        padding: 0 20px;
        margin: 0;
    }

    p {
        color: #414f57;
        text-align: center;
        padding: 0 20px;
        letter-spacing: 1px;
        font-family: "Avenir-Light";
    }

    .profileImage {
        position: relative;
        padding: 20px;
        padding-top: 40px;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 55%;
            left: 0;
            width: 100%;
            height: 1px;
            z-index: 1;
            background-color: #c8cccf;
        }

        img {
            display: block;
            margin: 0 auto;
            border-radius: 100%;
            box-shadow: 0 0 0 1.5em #fff;
            z-index: 2;
            position: relative;
        }
    }

    footer {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0 50px;
            padding-bottom: 20px;

            a {
                text-decoration: none;
                color: black;
            }
        }

        li {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            border: solid 1px #c8cccf;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                border: solid 1px rgb(63, 63, 228);
                color: rgb(63, 63, 228);
                cursor: pointer;
            }
        }

        svg {
            font-size: 22px;
        }
    }

    @media only screen and (min-width: 768px) {
        width: 40%;
    }
}
